.centre-spinner {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;

  background: #203A7D;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 512px;
  transform: translateY(-24px);
  overflow: visible;
}

.airplane {
  transition: transform 1s;
  transform-origin: center;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  svg {
    width: 256px;
  }
}

@media (-webkit-min-device-pixel-ratio: 3) {
  svg {
    width: 170.666666px;
  }
}